* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	height: 100vh;
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: 1 / 1 / 2 / 3;
	position: relative;
	height: 10vh;
}

.form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

.form__input {
	width: 200px;
	height: 30px;
	padding: 2px;
	border: 1px solid rgb(185, 181, 181);
	outline: none;
	margin-right: 3px;
}

.form__input:focus {
	border: 1px solid blue;
}

.empty-input {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 230px;
	height: 60px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	background-color: #be7979;
	border-radius: 10px;
	color: #fff;
	top: 60px;
}

.form__submit {
	width: 70px;
	height: 30px;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: rgb(131, 131, 196);
	cursor: pointer;
}

.empty {
	font-family: "Montserrat", sans-serif;
	color: rgb(192, 186, 186);
}

.execution-tasks {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	grid-area: 2 / 1 / 3 / 2;
	width: 100%;
	height: 90vh;
	padding: 20px 20px;
}

.execution-tasks__list {
	list-style-type: none;
}

.execution-task {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: "Montserrat", sans-serif;
	width: 200px;
	height: fit-content;
	margin-top: 10px;
	padding: 3px;
}

.fa-regular {
	height: 100%;
	pointer-events: none;
}

.task__done {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.delete-button {
	text-align: center;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.task-text__div {
	display: flex;
	justify-content: center;
	width: 100px;
	height: fit-content;
}

.completed-tasks {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	grid-area: 2 / 2 / 3 / 3;
	width: 100%;
	height: 90vh;
	padding: 20px 20px;
}

.completed-tasks__list {
	list-style-type: none;
}

.completed-task {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: "Montserrat", sans-serif;
	width: 150px;
	height: 30px;
	margin-top: 10px;
}
