* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	height: 100vh;
	margin: 0 auto;
	border: 1px solid #333;
}

.form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10%;
}

.form__input {
	outline: none;
}

.execution-tasks {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 45%;
	border: 1px solid #333;
}

.execution-tasks__list {
	list-style-type: none;
}

.task {
	display: flex;
	flex-direction: row;
}

.task-text__div {
	display: flex;
	justify-content: center;
	width: 100px;
	height: fit-content;
	border: 1px solid #333;
}

.completed-tasks {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 45%;
	border: 1px solid #333;
}

.completed-tasks__list {
	list-style-type: none;
}

.completed-task {
	display: flex;
	flex-direction: row;
}
