* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.color {
	width: calc(100vw / 3);
}

.black {
	background-color: #000;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: #c4003d;
}
