* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	margin: auto;
	padding: 25px;
	border: 1px solid #333;
	border-radius: 20px;
}

.top {
	display: grid;
}

.title_wrapper {
	display: grid;
	grid-column: 1/3;
	text-align: center;
}

.image {
	margin-right: 35px;
}

.title_text {
	display: grid;
	font-family: "Comic Sans MS", cursive;
}

.todo {
	color: #6cbfec;
}

.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Comic Sans MS", cursive;
}

.subtitle_text {
	font-family: "Comic Sans MS", cursive;
}

.bottom {
	margin-top: 150px;
}

.text {
	font-family: "Comic Sans MS", cursive;
}
