* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	padding: 30px;
}

.container__item {
	width: 100px;
	height: 100px;
	cursor: pointer;
}
