* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	font-family: "Gideon Roman", cursive;
	background: url("/image/wallpaper1.jpg") center / cover no-repeat;
	opacity: 0;
	transition: 1s ease-out;
}

button {
	cursor: pointer;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: fit-content;
	position: absolute;
	top: 10%;
}

.input_gladiator {
	width: 300px;
	height: 40px;
	font-size: 18px;
	outline: none;
	border: 1px solid #b8b3b3;
	padding-left: 3px;
	font-family: "Luxurious Roman", cursive;
	font-weight: 500;
	transition: 0.1s ease-out;
}

.input_gladiator:focus {
	border: 3px solid green;
}

.play_game {
	width: 100px;
	height: 40px;
	color: #fff;
	background-color: blue;
	font-size: 15px;
	outline: none;
	margin-left: 10px;
	border-radius: 4px;
	font-family: "Luxurious Roman", cursive;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-out;
}

.play_game:hover {
	background-color: rgb(90, 90, 163);
}

.gladiators_field {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 20%;
}

.check_gladiators {
	width: 100px;
	height: 40px;
	color: #fff;
	background-color: blue;
	font-size: 15px;
	outline: none;
	margin-left: 10px;
	border-radius: 4px;
	font-family: "Luxurious Roman", cursive;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-out;
	position: absolute;
	top: 40%;
}

.gladiator {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	height: fit-content;
	border: 1px solid #333;
	background-color: #fff;
	margin-right: 10px;
}

.current_gladiator {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
	border: 1px solid #333;
	background-color: #fff;
}

.arena_field {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 20vh;
	position: absolute;
	top: 60%;
}

.arena {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	height: 20vh;
}

.gladiators_arena {
	width: fit-content;
	height: fit-content;
}

.strike_btn {
	width: 100px;
	height: 40px;
	color: #fff;
	background-color: blue;
	font-size: 15px;
	outline: none;
	margin-left: 10px;
	border-radius: 4px;
	font-family: "Luxurious Roman", cursive;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-out;
}

.winner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
	background-color: chocolate;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;
}
