* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	padding: 10px;
}

.form__input {
	outline: none;
}

.form__btn {
	padding: 0 10px 0 10px;
}

.cards-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
	border-radius: 10px;
	margin: 0 auto;
	background-color: #e0f2e6;
}

.card {
	width: 100px;
	height: 150px;
	position: relative;
	transform-style: preserve-3d;
	transition: all 0.3s ease;
	cursor: pointer;
}

.thefront {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	background-color: green;
}

.theback {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	background-color: yellow;
	transform: rotateY(180deg);
	color: #333;
	text-align: center;
	transition: background-color 1s ease;
}
